@import './variables.css';

.header{
   color: var(--primary-green);
   margin-left: 3vw;
   font-family: 'Gothic A1', sans-serif;
   letter-spacing: .03em;
}

.container{
   margin: 12vh 0 4vh;
   width: 100%;
   overflow-x: hidden;
   position: relative;
}
.container > div{
   width: 100%;
   display: flex;
   position: relative;
   transition: left 1s ease-in-out;
}
.container > svg{
   position: absolute;
   z-index: 2;
   color: var(--primary-green);
   font-size: 2.5em;
   top: 42%;
   border-radius: 5px;
   background-color: rgba(255, 255, 255, 0.5);
}
.container > svg:hover{
   background-color: rgba(255, 255, 255, 0.3);
}
.container svg:first-child{
   left: 10px;
}
.container svg:nth-child(2){
   left: 95vw;
}
.container span:first-child{
   margin-left: 10vw;
}
.container span:last-child{
   margin-right: 10vw;
}
.cuisine{
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 20vw;
   height: 18vw;
   margin: 0 5vw;
   border-radius: 8px;
   background-size: cover;
   font-size: 2em;
   letter-spacing: .05em;;
   color: white;
   background-color: rgba(0, 0, 0, .5);
   background-blend-mode: overlay;
}
.cuisine:hover{
   font-size: 2.4em;
   transition: font-size .2s ease-in-out;
}