@import './variables.css';

.nav {
   background-color: rgb(26, 25, 25);
   box-shadow: none;
}

.detailContainer div{
   width: 85vw;
   margin: auto;
   position: relative;
}
.detailContainer h1{
   text-align: center;
   text-decoration: underline;
   color: var(--primary-green);
   font-family: 'EB Garamond', serif;
   letter-spacing: 0.05em;
   word-spacing: 0.1em;
}

/* Container of Img and Description */
.details{
   display: flex;
   padding: 1vw;
   border: 1px solid var(--primary-green);
   margin-top: 2vw;
   font-family: 'Gothic A1', sans-serif;
   font-size: 1.1em;
}
.details img{
   max-width: 100%;
   width: 15%;
   margin-right: 4vw;
}
.details p{
   font-size: 1.2em;
}
.details p a{
   font-size: 0.8em;
   margin-left: 10px;
}
.details p a:hover{
   color: orangered;
}
.detailContainer div svg{
   position: absolute;
   top: 20px;
   right: 20px;
   color: rgb(211, 21, 21);
   font-size: 1.4em;
}

/* Unordered List */
.detailContainer > h2{
   margin-left: 7vw;
   margin-top: 7vh;
   color: var(--primary-green);
}
.detailContainer ul{
   box-sizing: border-box;
   width: 85vw;
   margin: auto;
   padding-left: 50px;
   list-style-type: circle;
   font-family: 'Gothic A1', sans-serif;
}
.detailContainer ul li{
   margin: 3vh 0;
   word-spacing: .03em;
   letter-spacing: .02em;
}

.veg{
   color: green;
}
.nonVeg{
   color: red;
}