@import "./variables.css";

.nav {
  background-color: rgb(26, 25, 25);
  box-shadow: none;
}

/* Header of the Favorites Page */
.favoritesHeader {
  color: var(--primary-green);
  text-align: center;
  text-decoration: underline;
  font-family: "Gothic A1", sans-serif;
  letter-spacing: 0.04em;
  word-spacing: 0.1em;
}

/* Parent for each dish */
.favoritesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Gothic A1", sans-serif;
}
.eachDish {
  width: 40vw;
  margin: 3vh 0;
  padding: 1.5vw;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 0 10px 1px lightgrey;
  border-radius: 8px;
}
.eachDish > div {
  width: 20%;
  display: flex;
  align-items: center;
}
.eachDish img {
  max-width: 100%;
  border: 1px solid var(--primary-green);
  border-radius: 5px;
}
.eachDish > div {
  margin-right: 3vw;
}
.eachDish > span p:nth-child(1) {
  margin: 0;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 0.05em;
}
.eachDish > span p:first-child a {
  color: black;
  text-decoration: none;
}
.eachDish > span p:first-child a:hover {
  color: var(--primary-green);
}
.eachDish > span p:nth-child(2) {
  margin: 2vh 0;
}
.eachDish > span p:nth-child(3) {
  margin: 0;
}
.eachDish svg {
  position: absolute;
  top: 10%;
  right: 3%;
  color: rgb(211, 21, 21);
}

.noFavorites {
  padding-top: 28vh;
  color: grey;
  text-align: center;
}
.noFavorites svg {
  font-size: 2.5em;
}
.noFavorites h1 {
  margin-top: 10px;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
}
.loading {
  margin-top: 28vh;
  color: grey;
  text-align: center;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
}
.nonVeg {
  color: red;
}
.veg {
  color: green;
}
